:root {
    --text-primary: white;
    --text-secondary: #F4E8C1;
    --text-highlight: #A0C1B9;
    --btn-background: #302F4D;
    --btn-background-light: #595790;
    --bg-primary: #331E38;
    --bg-secondary: #706993;
    --transition-speed: 600ms;
}

/* Standard Elements */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Puritan', sans-serif;
    background-color: white;
    color: black;
}

h2,
h3,
h4,
h5 {
    color: var(--text-secondary);
}

/* Header Elements */

.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    overflow: scroll;
    transition: width 200ms ease;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    margin: 0 1.5rem;
    width: max(2rem);
}

/* Logo */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
}

.logo img {
    width: 3rem;
    display: inline-block;
    margin: 0 auto;
}

.logo-text {
    padding: 1rem;
    transition: var(--transition-speed);
}


/* Custom Elements */

.btn {
    background-color: var(--btn-background);
    padding: 1rem;
    display: flex;
    width: fit-content;
    border-radius: 1rem;
    color: var(--text-primary);
}

.btn:hover {
    color: var(--text-primary);
    background-color: var(--btn-background-light);
}

.content-box {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    overflow-wrap: break-word;
    width: fit-content;
    line-height: 1.5;
    padding: 2rem;
    border-radius: 2rem;
}

.content-box a {
    color: var(--text-primary);
}

.content-box a:hover {
    color: var(--text-highlight);
}

/* Help Pages */

.help-container {
    display: flex;
    justify-content: center;
}

.help-container h1 {
    margin-bottom: 1.5em;
}

.help-contents-ul {
    list-style: none;
    line-height: 3;
}

.help-contents-ul li {
    text-align: left;
}

.help-box {
    text-align: left;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 3;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.help-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-image-holder img {
    width: 600px;
    max-height: 100%;
    object-fit: contain;
}

/* Contact Page */

.contact-box {
    margin-top: 4rem;
    padding: 4rem;
}

/* Misc Elements */

.large-spacing {
    padding: 4rem;
    margin: 2rem;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.expand {
    width: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    text-align: center;
    padding-top: 1rem;
}

/* Small Screen */
@media only screen and (max-width: 600px) and (orientation: portrait) and (min-resolution: 192dpi) {
    p {
        font-size: 0.4rem;
        line-height: 1;
        margin-bottom: 0.5em;
    }

    /* Flip the Navbar to the bottom of the screen on Mobile mode */

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    /* Remove the Logo */

    .logo {
        display: none;
    }

    /* Put the Icons horizontally in the flex box */

    .nav-menu {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    /* Reset the Main semantic */

    main {
        margin: 0;
    }

    /* Remove the footer for mobile */

    footer {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1em;
    }

    main {
        margin-left: 5rem;
        padding: 1rem;
    }

    /* Put the Nav bar to the top left */

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    /* Expand the navbar when mouse hovers */

    .navbar:hover {
        width: 16rem;
    }

    /* Display the text */

    .navbar:hover .link-text {
        display: block;
        transition: var(--transition-speed);
    }
}