:root {
    --dutch-white: #F4E8C1;
    --ash-grey: #A0C1B9;
    --moonstone: #70A0AF;
    --pomp-and-power: #706993;
    --thistle: #fae7ff;
    --dark-purple: #331E38;
    --space-cadet: #302F4D;
    --light-space-cadet: #595790;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Puritan', sans-serif;
    background-color: white;
    color: black;
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

.nav-menu a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.nav-menua a:hover {
    color: var(--dutch-white);
}

.nav-menu li {
    font-size: 0.8rem;
}

/* create a .btn class with a dark purple background. a light purple border at 2px and flips the color when cursor hovers */
.btn {
    background-color: var(--space-cadet);
    padding: 1rem;
    display: flex;
    width: fit-content;
    border-radius: 1rem;
    color: white;
}

.btn:hover {
    color: white;
    background-color: var(--light-space-cadet);
}

.content-box {
    background-color: var(--pomp-and-power);
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    width: fit-content;
    line-height: 1.5;
    padding: 2rem;
    border-radius: 2rem;
}

.large-spacing {
    padding: 4rem;
    margin: 2rem;
}

.medium {
    padding: 2rem;
    margin: 1rem;
}

.help-container {
    display: flex;
    justify-content: center;
}

.help-container h1 {
    margin-bottom: 1.5em;
}

.help-contents-ul {
    list-style: none;
    line-height: 3;
}

.help-contents-ul li {
    text-align: left;
}

.help-box {
    text-align: left;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 3;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.help-image-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-image-holder img{
    width: 600px;
    max-height: 100%;
    object-fit: contain;
}

.contact-box {
    margin-top: 4rem;
    padding: 4rem;
}

.content-box a {
    color: var(--dutch-white);
}

.content-box a:hover {
    color: var(--ash-grey);
}

.title-container {
    background-color: var(--dark-purple);
    display: flex;
    max-height: 48px;
}

.title-holder h2 {
    color: white;
    font-size: 3rem;
}

.title-holder {
    display: flex;
    align-items: center;
}

.icon-holder {
    padding: 0.5rem;
}

.icon-holder img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-purple);
    color: white;
    font-size: 1.2rem;
    margin-left: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--dutch-white);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    padding-top: 1rem;
}

.center-box {
    display: flex;
    justify-content: center;
}