:root {
    --dutch-white: #F4E8C1;
    --ash-grey: #A0C1B9;
    --moonstone: #70A0AF;
    --pomp-and-power: #706993;
    --dark-purple: #331E38;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Puritan', sans-serif;
    background-color: var(--background-colour);
    color: var(--text-colour);
}

p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

a {
    color: var(--link-colour);
    text-decoration: none;
    font-size: 0.9rem;
}

li {
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 2em;
}

.help-navigation-container {
    display: inline-block;
    padding: 4em;
    text-align: left;
    background-color: var(--box-colour);
    color: var(--background-colour);
}

.help-navigation-container li {
    list-style-type: none;
}

.container {
    max-width: 800px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    height: 80px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.navbar-logo {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f1c40f;
}