<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Puritan&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="{{ url_for('static', path='/images/logo.png') }}" alt="Logo">
                <h2>
                    {{ name }}
                </h2>
            </div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/download" class="nav-link">Download</a></li>
                <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <!-- <div class="title-container">
        <div class="icon-container">

        </div>
    </div> -->
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <p>© 2023 {{ name }}. All rights reserved. Developed by {{ author }}</p>
        </div>
    </footer>
</body>

</html>