{% extends 'base.html' %}

{% block title %}
<title>Download</title>
{% endblock %}

{% block content %}
<div class="flex flex-center">
    <div class="content-box large-spacing">
        <h3>Latest Release</h3>
        <ul class="help-contents-ul">
            <h4>Windows x86</h4>
            <li>
                <a class="help-link" target="_blank" href="{{ download_link_one }}">
                    Desktop Release {{
                    version }}</a>
            </li>
            <li>
                <a class="help-link" target="_blank" href="{{ download_link_two }}">
                    (Mirror Link) Desktop Release {{
                    version }}</a>
            </li>
        </ul>
        <p><b>Note:</b> Some Anti-Viruses may flag QuestCave as a Virus. Add QuestCave to the AV exceptions ie.
            Whitelist.
            You'll have to read your Anti Viruses documentation on how to do this</p>
    </div>
</div>
{% endblock %}