{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block head_tag %}
<style>
    .content-box>.btn {
        margin: 0 auto;
        margin-top: 1em;
    }
</style>
{% endblock %}
{% block content %}
<div class="flex flex-center">
    <div class="content-box large-spacing">
        <div class="index-title">
            <h2>Quest Cave</h2>
            <img src="{{ url_for('static', path='/images/logo.png') }}" alt="">
        </div>
        <h3>
            A simple Game and App installer for the Oculus Quest 2 VR Headset.
        </h3>
        <a href="/download" class="btn">Get the App</a>
        <a href="/help" class="btn">Documentation</a>
    </div>
</div>
{% endblock %}