{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block head_tag %}
<style>
    .content-box>.btn {
        margin: 0 auto;
        margin-top: 1em;
    }
</style>
{% endblock %}
{% block content %}
<div class="flex flex-center">
    <div class="content-box large-spacing">
        <h3>
            QuestCave is currently a Windows Desktop app which Downloads and Installs Quest 2 Games (Paid/Free) to a
            Meta Quest 2 device. There are currently 30 Games availible to download.
        </h3>
        <a href="/download" class="btn">Get the App</a>
    </div>
</div>
{% endblock %}