<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Update Availible</title>
</head>

<body>

    <h2>New in {{ name }} for Windows</h2>
    <h3>
        <font color="#878383">Release Highlights</font>
    </h3>
    <ul>
        {% for feature in new_features %}
        <li>{{ feature }}</li>
        {% endfor %}
    </ul>
    <h3>
        <font color="#878383">Fixed Bugs</font>
    </h3>
    <ul>
        {% for fix in bug_fixes %}
        <li>{{ fix }}</li>
        {% endfor %}
    </ul>
    <p>
        <font color="#9929BD">
            <b>Thanks to Abbie for testing</b>
        </font>
    </p>

</body>

</html>